body {
  margin: 0;
  background-color: #82b9eb;
  padding: 1em;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  transition: transform 2s;
}

nav a:hover {
  transform: scale(1.5);
}

nav a:active {
  color: white;
}

.white {
  background-color: white;
}
