@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');

body {
  margin: 0;
  background-color: #82b9eb;
}

.content {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Roboto', sans-serif;
}

.content h1 {
  font-size: 5em;
  text-align: center;
  margin: 0em;
  font-family: 'Permanent Marker', cursive;
}

/* @media only screen and (max-width: 900px) {
  .content {
    width: 90%;
    margin: 0;
    background-color: brown;
  }
} */
