.tech.box {
  margin: 1em;
}

.okay_with {
  max-width: 125px;
  max-height: 125px;
  margin: 10px;
}

.played_with {
  max-width: 75px;
  max-height: 75px;
  margin: 10px;
}

.comfortable {
  max-width: 175px;
  max-height: 175px;
  align-content: center;
  margin: 10px;
}

.comfortable img,
.played_with img,
.okay_with img {
  max-width: 100%;
  max-height: 100%;
}
