.content {
  background-color: skyblue;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.content h1 {
  font-size: 5em;
  text-align: center;
}

.content h2 {
  font-size: 2.5em;
  margin: 0em;
}

.content h3 {
  font-size: 1.5em;
  margin: 0em;
  margin-bottom: 1em;
}

.flexbox_reverse {
  padding: 1em;
  display: flex;
  flex-flow: row-reverse wrap;
  width: 95%;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}

.flexbox {
    padding: 1em;
  display: flex;
  flex-flow: row wrap;
  width: 95%;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}

.flexItem_project {
  display: flex;
  flex-flow: column nowrap;
  width: 45%;
  padding: 1em;
  text-align: center;
}

.flexItem_project img {
  width: 100%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  align-items: center;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 1em;
  width: 90%;
  height: 90%;
}

@media only screen and (max-width: 900px) {
  .flexItem_project {
    width: 100%;
    background-color: burlywood;
  }
  .flexbox {
    flex-flow: column-reverse nowrap;
  }
  .flexbox_reverse {
    flex-flow: column-reverse nowrap;
  }
  .flexItem_project img {
    width: 75%;
  }
}

@media only screen and (max-width: 450px) {
  .flexItem_project img {
    width: 100%;
  }
}
