.section_title {
  font-family: 'Architects Daughter', Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 12vw;
  text-align: center;
}

.circle {
  border-radius: 50%;
}

#Summary {
  margin: 1rem;
}

#Summary img {
  float: left;
  max-width: 50%;
  margin: 1rem;
  border: 10px gray solid;
}

.image_flex_row {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem;
  justify-content: center;
  align-content: flex-end;
  /* justify-self: center; */
}

.image_flex_row img {
  height: 120px;
  align-self: flex-end;
}

.grid {
  display: grid;
  gap: 1rem;
}

.box {
  border-radius: 20px;
  border: 10px gray solid;
  box-shadow: inset 0px 0px 18px rgb(59, 20, 20);
  padding: 1rem;
}

.flex_wrap_row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}

.flex_wrap_row img {
  max-width: 90%;
}

.multi_img img {
  width: auto;
  max-width: 90%;
  max-height: 25vh;
  height: auto;
  justify-self: center;
}

.title {
  font-family: 'Architects Daughter', Impact, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

@media (min-width: 900px) {
  .section_title {
    font-size: 5rem;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .flex_wrap_row {
    object-fit: contain;
    flex-wrap: nowrap;
    justify-self: center;
    align-content: center;
    gap: 1.5rem;
  }
  .flex_wrap_row img {
    max-width: 50%;
    height: fit-content;
  }

  #Summary img {
    max-height: 50vh;
  }
  .image_flex_row img {
    height: 210px;
    align-self: flex-end;
  }
}
