.flexItem {
  display: flex;
  flex-flow: column nowrap;
  width: 45%;
  padding: 1em;
  text-align: center;
}

.flexItem img {
  max-width: 100%;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 900px) {
  .flexItem {
    width: 100%;
    background-color: burlywood;
  }
  .flexItem img {
    width: 75%;
  }
}

@media only screen and (max-width: 450px) {
  .flexItem img {
    width: 100%;
  }
}
